{% extends 'base.html' %}

{% block title %} {{ user['username'] }}'s Profile - Culinary Compass{% endblock %}

{% block content %}   
    <div class="profile-header">
        <div class = "profile-info">
            <img src="{{ url_for('static', filename=user['profile_picture']) }}" alt="Profile Picture" class="profile-page-pic">
            <h1> {{ user['username'] }}'s Profile </h1>  
        </div>
        <br>
        {% if session.get('user_id') == user['id'] %}
            <br>
            <a href="{{ url_for('post') }}" class="submit-button">Post a Recipe</a>
            <a style="text-decoration: underline;" href="{{ url_for('logout') }}" class="logout-button">Logout</a>
        {% endif %}      
    </div>

    <div class="user-posts">
        {% if created or favourites or reviews %}
            {% if created %}
            <h1>Posted Recipes</h1>
            <div class="recipe-grid">
                {% for created_recipe in created %}
                <div class="recipe-card">
                    <a href="{{ url_for('recipe_page', recipe_id=created_recipe['recipe_id']) }}">
                    {% if created_recipe['image'] %}
                        <img src="{{ url_for('static', filename=created_recipe['image']) }}" alt="{{ created_recipe['recipe_title'] }}" class="recipe-image-homepage">
                    {% else %}
                        <img src="{{ url_for('static', filename='images/background.png') }}" alt="{{ created_recipe['recipe_title'] }}" class="recipe-image-homepage">
                    {% endif %}
                    <div class="recipe-title">{{ created_recipe['recipe_title'] }}</div>
                    </a>
                </div>
                {% endfor %}
            </div>
            {% endif %}

            {% if favourites %}
            <h1>Favourited Recipes</h1>
            <div class="recipe-grid">
                {% for favourited_recipe in favourites %}
                <div class="recipe-card">
                    <a href="{{ url_for('recipe_page', recipe_id=favourited_recipe['recipe_id']) }}">
                    {% if favourited_recipe['image'] %}
                        <img src="{{ url_for('static', filename=favourited_recipe['image']) }}" alt="{{ favourited_recipe['recipe_title'] }}" class="recipe-image-homepage">
                    {% else %}
                        <img src="{{ url_for('static', filename='images/background.png') }}" alt="{{ favourited_recipe['recipe_title'] }}" class="recipe-image-homepage">
                    {% endif %}
                    <div class="recipe-title">{{ favourited_recipe['recipe_title'] }}</div>
                    </a>
                </div>
                {% endfor %}
            </div>
            {% endif %}

            {% if reviews %}
            <h1> Posted Reviews </h1>
            {% for review in reviews %}
                <a href="{{ url_for('recipe_page', recipe_id=review['recipe_id']) }}">
                <div class="review-card">
                    <p class="profile-rev-title">
                        Recipe: {{ review['recipe_title'] }} <br>
                        {{ review['review_title'] }}</p>
                    <p class="profile-rev-text">
                        {{ review['review'] }} <br>
                        Rating: {{ review['rating'] }}
                    </p>
                </div>
                </a>
            {% endfor %}
            {% endif %}
        {% else %}
            <h1> No activity yet. </h1>   
        {% endif %}
    </div>
{% endblock %}