<div id="timer-popup" class="popup" style="display: none; position: fixed; top: 150px; left: 100px;">
<div id="timer-header" class="popup-header">
    <span>Cooking Timer</span>
    <button id="close-timer" class="close-btn">&times;</button>
</div>
<div class="popup-body">
<div id="timer-area">
    <div class="time-inputs">
    <input type="number" id="hours-input" placeholder="00" min="0">
    <span>:</span>
    <input type="number" id="minutes-input" placeholder="00" min="0" max="59">
    <span>:</span>
    <input type="number" id="seconds-input" placeholder="00" min="0" max="59">
    </div>
</div>
<button id="start-timer">Start</button>
<button id="reset-timer">Reset</button>
</div>
</div>